body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 15px;
}

.text-biography {
  width: 70%;
}

.summary-table {
  margin-left: 2vh;
  position: absolute;
  right: 5vh;
  top: 5vh;
  width: 20%;
}

@media screen and (max-width:480px) {
  .text-title{
    text-align: center;
  }
  .text-biography {
    margin: auto;
    width: 90%;
  }
  .summary-table {
    left: 5px;
    position: relative;
    width: 90%;
  }
}